@model User

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to the Dojo Activity Center</h1>
    <partial name="RegisterPartial">
    <partial name="LoginPartial">
</div>
